= render "common/branding"
.container-wrap.pane
   .container
      .row#videos
         #filters
            %a{"data-filter" => "*"}
               show all
            %a{"data-filter" => ".interview"}
               interviews
            %a{"data-filter" => ".finished"}
               finished
      .row
         %div#video-container
            - @videos.each do |video|
               - vid = VideoInfo.new("https://vimeo.com/"+video.vimeoid)
               .video-card{"class" =>"#{video.video_type}"}
                  = image_tag vid.thumbnail_large, :alt => video.title+" thumb"
                  = link_to video_path(video) do
                     %span
                        = vid.title
.container-wrap.pane2
   .container
      .row#about
         %h2 About Sharing Spirit
.container-wrap.pane3
   .container#partners
      .row
         %h2 Partners
.container-wrap.pane4
   .container#contact
      .row
         %h2 Contact